In [3]:
from generate import genDataset, outType

data = genDataset('sensor', 3, 1500, 'mechanical_failure', outType.BOOL)
data.to_csv('dataset.csv', index=False)
print('Dataset generated & printed successfully')
data

Dataset generated & printed successfully

                timestamp    sensor1    sensor2    sensor3  mechanical_failure
0     10/10/2019 10:19 AM  23.195522  26.425040   9.279213                   1
1     12/16/2015 08:34 PM  23.803903  34.514551  17.035944                   0
2     10/23/2016 06:26 AM  25.698593  21.898525  13.771808                   0
3     09/04/2009 08:05 PM  25.029740  41.252539  17.524984                   0
4     06/20/2018 06:24 AM  25.904960  40.888184  11.233778                   1
...                   ...        ...        ...        ...                 ...
1495  12/01/2013 08:14 PM  25.647379  34.858701  12.298655                   1
1496  07/11/2008 11:35 PM  23.436232  24.177295   3.142428                   1
1497  03/22/2009 04:52 AM  26.919815  25.680344   8.462541                   0
1498  05/09/2018 02:01 AM  28.216366  19.056877  12.754387                   1
1499  11/19/2014 02:24 PM  25.683910  19.732081  14.968722                   1

[1500 rows x 5 columns]